:root {
   --background-color: rgba(255, 166, 0, 0.573);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
   background-color: white;
}

header {
   background-color: var(--background-color);
   color: black;
   padding: 20px;
   text-transform: uppercase;
   text-wrap: wrap;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;
}

header button {
   position: absolute;
   right: 10%;
   padding: 10px;
   background-color: lightblue;
   cursor: pointer;
   border: none;
   font-weight: 600;
}

header button:hover {
   background-color: rgb(132, 209, 235);
}

.container.active {
   background-color: #fff;
   background-color: rgba(55, 54, 54, 0.887);
   width: 100%;
   height: 100vh;
   z-index: 3;
}

.section1 {
   background: white;
   color: black;
   min-height: 420px;
   display: flex;
   scale: 0;
   flex-direction: column;
   align-items: center;
   top: 140px;
   gap: 8px;   
   width: 60%;
   box-shadow: 5px 0px 12px rgba(0, 0, 0, 0.568);
   position: absolute;
   left: 20%;
   z-index: 3;
   transition: all .2s ease;
}

.section1.active {
   /* display: flex; */
   animation: aparecer 0.5s forwards;
   scale: 1;
}

.section1 .title {
   background-color: lightblue;
   padding: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   user-select: none;
}

.title .icon-close {
   font-size: 20px;
   cursor: pointer;
   border: 1px solid;
   padding: 10px 20px;
   border: none;
   transition: all .2s;
}

.title .icon-close:hover {
   color: white;
   background-color: rgb(230, 39, 39);
}

#cadastro {
   width: 95%;
   display: flex;
   flex-direction: column;
}

.dados {
   display: flex;
   padding: 20px;
   justify-content: space-evenly;
   gap: 10%;
   width: 100%;
   flex-wrap: wrap;
}

.dados .column_dados {
   display: flex;
   gap: 50px;
   flex-direction: column;
}


.dados .input-box {
   display: flex;
   flex-direction: column;
   height: 100px;
   gap: 10px;
   /* border: 1px solid; */
}

.input-box label {
   font-weight: 600;
   color: black;
}

 .input-box input {
   width: 400px;
   padding: 15px;
   font-size: 17px;
   outline: none;
}

.input-box .error  {
   width: 100%;
   padding: 10px;
   display: none;
   color: red;
}

.input-box .error.active {
   display: block;
}

.buttons {
   text-align: end;
   padding: 20px;
   width: 90%;
   margin: auto;
}

.buttons button {
   padding: 10px;
   margin-left: 10px;
   background: greenyellow;
   border: none;
   cursor: pointer;
   font-weight: 600;
   user-select: none;
}

.buttons #cancel {
   background-color: rgba(255, 0, 0, 0.733);
   color: white;
}

.buttons button:hover {
   opacity: 0.6;
}

#lista {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   height: 80vh;
   margin: auto;
   margin-top: 50px;
   box-shadow: -1px 5px 25px rgba(0, 0, 0, 0.315);
   overflow-y: scroll;
   scrollbar-width: none;
}

#table {
   width: 100%;
}

#table, th, td, tr {
   border-collapse: collapse;
   padding: 15px;
   border-bottom: 2px solid rgba(224, 255, 255, 0.197);
   border-left: 2px solid rgba(224, 255, 255, 0.197);
}

tr:nth-child(odd) {
   background-color: rgba(173, 216, 230, 0.277);
}

th {
   background: var(--background-color);
   position: sticky;
   top: 0;
   z-index: 2;
}

.sucessy {
   transition: all .2s ease-in-out;
   top: -6.5%;
   position: absolute;
   padding: 10px;
   background-color: #fff;
   margin: auto;
   width: 13%;
   height: 60px;
   box-shadow: 3px 2px 20px rgba(71, 69, 69, 0.664);
   border-radius: 50px;
   right: 2%;
   z-index: 5;
   text-align: center;
   color: rgb(111, 185, 111);
}

.sucessy.active {
   top: 6.5%;

}