:root {
   --background-color: rgba(18, 69, 71, 0.952);
   --color: rgb(197, 193, 193);
   --btn-color1: rgba(93, 184, 93, 0.459);
   --btn-color2: rgba(207, 58, 58, 0.568);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
   background-color: #e4e4e4;
   width: 100%;
   height: 100%;
}

header {
   background-color: var(--background-color);
   color: var(--color);
   padding: 20px;
   text-transform: uppercase;
   text-wrap: wrap;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;
}

header button {
   position: absolute;
   right: 10%;
   padding: 10px;
   background-color: rgba(173, 216, 230, 0.637);
   cursor: pointer;
   border: none;
   font-weight: 600;
   z-index: 5;
}

header button:hover {
   background-color: rgb(132, 209, 235);
}

.container {
   z-index: -1;
}

.container.active {
   background-color: #fff;
   background-color: #000000de;
   width: 100%;
   height: 100vh;
   z-index: 3;
}

.section1 {
   background: white;
   color: black;
   min-height: 420px;
   display: flex;
   scale: 0;
   flex-direction: column;
   align-items: center;
   top: 140px;
   gap: 8px;   
   width: 60%;
   box-shadow: 5px 0px 12px rgba(0, 0, 0, 0.568);
   position: absolute;
   left: 20%;
   z-index: 3;
   transition: all .2s ease;
}

.section1.active {
   /* display: flex; */
   animation: aparecer 0.5s forwards;
   scale: 1;
}

.section1 .title {
   background-color: lightblue;
   padding: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   user-select: none;
}

.title .icon-close {
   font-size: 20px;
   cursor: pointer;
   border: 1px solid;
   padding: 10px 20px;
   border: none;
   transition: all .2s;
}

.title .icon-close:hover {
   color: var(--color);
   background-color: rgb(230, 39, 39);
}

#cadastro {
   width: 95%;
   display: flex;
   flex-direction: column;
}

.dados {
   position: absolute;
   display: flex;
   padding: 20px;
   justify-content: space-evenly;
   gap: 10%;
   width: 100%;
   flex-wrap: wrap;
   z-index: 10;
}

.dados .column_dados {
   display: flex;
   flex-direction: column;
   gap: 25px;
}


.dados .input-box {
   display: flex;
   flex-direction: column;
   height: 100px;
   gap: 10px;
   /* border: 1px solid; */
}

.input-box label {
   font-weight: 600;
   color: black;
}

 .input-box input {
   width: 400px;
   padding: 15px;
   font-size: 17px;
   outline: none;
}

.input-box .error  {
   width: 100%;
   padding: 10px;
   display: none;
   color: red;
}

.input-box .error.active {
   display: block;
}

.buttons {
   text-align: end;
   padding: 20px;
   width: 90%;
   margin: auto;
}

.buttons button {
   padding: 10px;
   margin-left: 10px;
   background: greenyellow;
   border: none;
   cursor: pointer;
   font-weight: 600;
   user-select: none;
}

.buttons #cancel {
   background-color: rgba(255, 0, 0, 0.733);
   color: white;
}

.buttons button:hover {
   opacity: 0.6;
}

#lista {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   height: 80vh;
   margin: auto;
   margin-top: 50px;
   box-shadow: -1px 5px 25px rgba(0, 0, 0, 0.315);
   overflow-y: scroll;
   scrollbar-width: none;
}

#table {
   width: 100%;
}

#table, th, td, tr {
   border-collapse: collapse;
   padding: 15px;
   border-bottom: 1px solid #e0ffff00;
   border-right: 1px solid rgba(173, 216, 230, 0.323);
}

tr:nth-child(odd) {
   background-color: rgba(173, 216, 230, 0.277);
}

#table th {
   background: var(--background-color);
   color: var(--color);
   z-index: 2;
}

.acoes {
   display: flex;
   gap: 20px;
   width: 100%;
   height: 50px;
   justify-content: center;
   align-items: center;
}

.acoes * {
   padding: 8px;
   border: none;
   cursor: pointer;
   user-select: none;
   width: 70px;
   /* transition: .1s; */
   font-weight: bold;
}


.acoes .edit{
   background-color: var(--btn-color1);
}

.acoes .remove {
   background-color: var(--btn-color2);
}

.acoes .edit:hover {
   border: 2px solid var(--btn-color1);
   background-color: transparent;
}

.acoes .remove:hover {
   border: 2px solid var(--btn-color2);
   background-color: transparent;
   color: black;
}

@media screen and (max-width: 1638px) {
   .column_dados {
      margin: 0 -60px;
   }
}

@media screen and (max-width: 1490px) {
   .input-box input {
      width: 300px;
   }
}

@media screen and (max-width: 1230px) {
   .column_dados {
      margin: 20px 0;
      width: 100%;
   }

   .input-box input {
      width: 100%;
   }
}
