* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rgb(66, 60, 60);
   color: #fff;
}

header {
   background-color: orange;
   padding: 20px;
   color: white;
   text-shadow: 5px 5px 20px;
   text-transform: uppercase;
   text-wrap: wrap;
   display: flex;
   justify-content: center;
   align-items: center;
}

header button {
   position: absolute;
   right: 10%;
   padding: 10px;
   background-color: lightblue;
   border-color: lightblue;
   cursor: pointer;
   transition: all .2s ;
   font-weight: 600;
}

header button:hover {
   box-shadow: 10px 10px 100px;
   background: orange;
   border: 2px solid lightblue;
   color: white;
}

.section1 {
   background: orange;
   color: black;
   border: 1px solid;
   height: 300px;
   display: none;
   flex-direction: column;
   align-items: center;
   top: 140px;
   gap: 28px;   
   width: 90%;
   box-shadow: 5px 0px 12px rgba(0, 0, 0, 0.568);
   position: absolute;
   left: 5%;
   z-index: 5;
}

.section1.active {
   display: flex;
   animation: aparecer 0.5s forwards;
}

.section1 h3 {
   background-color: lightblue;
   text-align: center;
   padding: 20px;
   width: 100%;
}

#cadastro {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dados {
   display: flex;
   align-items: center;
   /* justify-content: center; */
   padding: 20px;
   gap: 35px;
   width: 100%;
   flex-wrap: wrap;
}

.dados .input-box {
   display: flex;
   flex-direction: column;
}

.dados .input-box label {
   font-weight: 600;
}

.dados .input-box input {
   height: 30px;
   width: 200px;
}

.dados button {
   padding: 8px;
   background: lightblue;
   border: none;
   cursor: pointer;
}

.dados button:hover {
   opacity: 0.8;
}

#lista {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

#table {
   width: 100%;
}

#table, th, td {
   border-collapse: collapse;
   border: 1px solid;
   padding: 5px;
}

.error {
   display: none;
   border: 2px solid red;
   width: 50%;
   height: 100px;
   color: red;
}

.error h3, p {
   text-align: center;
   margin-bottom: 5px;
   font-weight: 600;
}