* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
   background-color: white;
}

header {
   background-color: orange;
   padding: 20px;
   color: white;
   text-transform: uppercase;
   text-wrap: wrap;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;
}

header button {
   position: absolute;
   right: 10%;
   padding: 10px;
   background-color: lightblue;
   cursor: pointer;
   border: none;
   transition: all .1s ;
   font-weight: 600;
}

header button:hover {
   opacity: 0.8;
}

.container.active {
   background-color: #fff;
   background-color: rgba(55, 54, 54, 0.887);
   width: 100%;
   height: 100vh;
   z-index: 3;
}

.section1 {
   background: white;
   color: black;
   border: 1px solid;
   height: 300px;
   display: flex;
   scale: 0;
   flex-direction: column;
   align-items: center;
   top: 140px;
   gap: 28px;   
   width: 60%;
   box-shadow: 5px 0px 12px rgba(0, 0, 0, 0.568);
   position: absolute;
   left: 20%;
   z-index: 3;
   transition: all .2s ease;
}

.section1.active {
   /* display: flex; */
   animation: aparecer 0.5s forwards;
   scale: 1;
}

.section1 .title {
   background-color: lightblue;
   padding: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   user-select: none;
}

.title .icon-close {
   font-size: 20px;
   cursor: pointer;
   border: 1px solid;
   padding: 10px 20px;
   border: none;
   transition: all .2s;
}

.title .icon-close:hover {
   color: white;
   background-color: rgb(230, 39, 39);
}

#cadastro {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dados {
   display: flex;
   align-items: center;
   /* justify-content: center; */
   padding: 20px;
   gap: 35px;
   width: 100%;
   flex-wrap: wrap;
}

.dados .input-box {
   display: flex;
   flex-direction: column;
}

.dados .input-box label {
   font-weight: 600;
}

.dados .input-box input {
   height: 30px;
   width: 200px;
}

.dados button {
   padding: 10px;
   background: lightblue;
   border: none;
   cursor: pointer;
   font-weight: 600;
}

.dados button:hover {
   opacity: 0.8;
}

#lista {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

#table {
   width: 100%;
}

#table, th, td {
   border-collapse: collapse;
   border: 1px solid;
   padding: 5px;
}

.error {
   display: none;
   border: 2px solid red;
   width: 50%;
   height: 100px;
   color: red;
}

.error h3, p {
   text-align: center;
   margin-bottom: 5px;
   font-weight: 600;
}